<div class="d-flex flex-column"  style='margin-bottom: 0; padding-bottom: 0;'>
  <!-- FOOTER -->
  <footer class="w-100 py-4 flex-shrink-0">
      <div class="container py-4">
          <div class="row gy-4 gx-5">
              <div class="col-lg-4 col-md-6">
                  <h5 class="h1 text-white">Trouvaille</h5>
                  <p class="small text-muted">Esta empresa se dedica a la fácil reservación de hoteles</p>
                  <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Isaac García</a></p>
              </div>
              <div class="col-lg-2 col-md-6">
                  <h5 class="text-white mb-3">Links Rapidos</h5>
                  <ul class="list-unstyled text-muted">
                      <li><a href="#" routerLink='/login'>Inicio</a></li>

                      <li><a href="#" routerLink='/profile'>Perfil</a></li>
                  </ul>
              </div>
              <div class="col-lg-4 col-md-6">
                  <h5 class="text-white mb-3">Noticias</h5>
                  <p class="small text-muted">Buscamos empleados para terminar este proyecto</p>
              </div>
          </div>
      </div>
  </footer>
</div>
